@charset "UTF-8";

/* ------------------------------------
◆　all
------------------------------------ */
html, body {
  color: #333;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.8em;
  width: 100%;
  height: auto;
  position: relative;
  -webkit-text-size-adjust: 100%;
}
body.serif {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, YuGothic, "游ゴシック","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", serif;
  letter-spacing: 0.05em;
}
body.san-serif {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, YuGothic, "游ゴシック","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
  letter-spacing: 0.02em;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
  font-size: 11px;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.hover:hover {
  cursor: pointer;
  filter: alpha(opacity=60);
  opacity: 0.6;
}

.c_width {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

.forpc {
  display: block;
}

.forsp {
  display: none;
}

.fornocate {
  display: none;
}

#page_load {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#loading img {
  margin: 0 auto;
}

.topinfo{border: 3px solid red;padding: 20px;color: red;width: 94%;}

/* ------------------------------------
◆　common
------------------------------------ */
.topic_brd {
  font-size: 16px;
  text-align: center;
  position: relative;
  margin: 0 0 50px 0;
}
.topic_brd:after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin: 0 0 0 -10px;
}

.tra04 {
  -webkit-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.tra06 {
  -webkit-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.tra10 {
  /* height: 100px; */
  /* overflow: hidden; */
  -webkit-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

#maniContent{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}


/* ------------------------------------
◆　#sideBar
------------------------------------ */
.leftSide {
    width: 28%;
    float: left;
    max-width: 220px;
    margin: 0 auto;
}


/* ------------------------------------
◆　#mainHeader
------------------------------------ */
#mainHeader {
  width: 100%;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}
#mainHeader.col1 {
  height: 126px;
}

#mainHeader h1 {
  font-size: 42px;
  font-weight: normal;
}
#mainHeader h1.col1 {
  height: 64px;
  position: relative;
  top: 32px;
  left: 20px;
}
#mainHeader h1.col2 {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}

#mainHeader h1.col2 a {
  display: inline-block;
  margin: 0 auto;
}

#mainHeader h1 img {
  width: auto;
  height: 100%;
}

#mainHeader .col1 .logoText {
  position: absolute;
  bottom: 12px;
}

#mainHeader .col2 .logoText {
  line-height: 42px;
}


/* #baseMenu */
#baseMenu {
  position: absolute;
  top: 20px;
  right: 20px;
}

#baseMenu li {
  margin: 0 0 0 20px;
  float: left;
}

#baseMenu li img {
  margin: 0 auto;
}

#baseMenu li.cart img {
  position: relative;
  top: 2px;
}

#baseMenu li img:hover {
  cursor: pointer;
  filter: alpha(opacity=60);
  opacity: 0.6;
  -webkit-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

/* #main_navigation */
#main_navigation {
  font-size: 16px;
}

#main_navigation.col1 {
  position: absolute;
  top: 68px;
  right: 20px;
}
#main_navigation.col2 {
  margin-bottom: 60px;
}

body.san-serif #main_navigation {
  font-size: 14px;
}

#main_navigation.col2 ul {
  position: relative;
  left: 50%;
  float: left;
}

#main_navigation.col1 ul li {
  float: left;
  margin: 0 0 0 45px;
  cursor: pointer;
  position: relative;
}
#main_navigation.col2 ul li {
  position: relative;
  left: -50%;
  float: left;
  margin: 0 22px 0 22px;
  cursor: pointer;
}

#main_navigation #appsItemCategoryTag li {
  width: 100%;
  margin: 0;
}

#main_navigation ul li.brd,
.footer_menu ul li.brd,
#blog_block .blog_title a {
  position: relative;
}

#main_navigation ul li.brd:after,
.footer_menu ul li.brd:after,
#blog_block .blog_title a:after {
  content: "";
  width: 0px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  bottom: -5px;
  left: 0;
  -webkit-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.footer_menu ul li.brd:after {
  bottom: 0;
}
#main_navigation ul li.brd:hover:after,
.footer_menu ul li.brd:hover:after,
#blog_block .blog_title a:hover:after {
  width: 100%;
}

#category-menu .category-list {
  display: none;
  width: 180px;
  font-size: 14px;
  line-height: 1.4em;
  margin: 0 0 0 -85px;
  padding: 10px 0px 10px 0px;
  position: absolute;
  left: 50%;
  z-index: 9999;
  background-image: url("https://basefile.s3.amazonaws.com/chikoku/56236c14f0d1f/bg_white.png");
  background-repeat: repeat;
  background-position: left top;
  text-align: center;
}

#category-menu:hover .category-list {
  display: block;
}

#category-menu .category-list li {
  float: none;
  margin: 0;
}
#category-menu .category-list ul li.brd:after {
  bottom: 0;
}

#category-menu .category-list li a {
  display: block;
  padding: 10px 10px 10px 10px;
  -webkit-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
#category-menu .category-list li a:hover {
  background-color: #eee;
}

/* ------------------------------------
◆　.container
------------------------------------ */
.container {
  width: 74%;
  float: right;
}

.container .content {
  padding-bottom: 40px;
}

.container .main_pic {
  width: 100%;
  margin: 0 auto 80px;
}

.container .main_pic img {
  width: 100%;
  height: auto;
}

.container .main_pic.max,
.container .main_pic.max img {
  max-width: 1000px;
}

.container .wrapper .product_top {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.container .wrapper .content .left_block {
  width: 48%;
  float: left;
  margin: 0 4% 0 2%;
}

.container .wrapper .content .left_block .img_box {
  margin: 0 0 20px 0;
}

.container .wrapper .content .left_block img {
  width: 100%;
  height: auto;
}

.container .wrapper .content .right_block {
  width: 44%;
  float: left;
}

.container .wrapper .content .right_block .explanation {
  line-height: 1.8em!important;
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  position: relative;
}

.container .wrapper .content .right_block .explanation:after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container .wrapper .content .right_block .descri {
  margin: 0 0 30px 0;
}

.container .wrapper .content .right_block .descri .price {
  font-size: 20px;
  font-style: italic;
}

.container .wrapper .content .right_block .price_del {
  font-size: 20px;
  font-style: italic;
  margin: 0 10px 0 0;
  text-decoration: line-through;
}

.container .wrapper .content .right_block .price_soldout {
  color: #FF4C4C;
}

.container .wrapper .content .right_block #itemAttention {
  font-size: 12px;
  line-height: 1.5em;
  color: #999;
  margin: 10px 0 0 0;
}

.container .wrapper .content .right_block #amountSelectWrap label,
.container .wrapper .content .right_block #variationSelectWrap label {
  margin: 0 20px 0 0;
  font-size: 12px;
  position: relative;
  top: -3px;
}

.container .wrapper .content .right_block #amountSelectWrap .hide {
  display: none;
}

.container .wrapper .content .right_block .social {
  position: relative;
  margin: 40px 0 10px 0;
  padding: 40px 0 0 0;
}

.container .wrapper .content .right_block .social:before {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
}

.container .wrapper .content .right_block .social .twitter {
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 15px 0 0;
}

.container .wrapper .content .right_block .social .facebook {
  display: inline-block;
}

.container .wrapper .content .right_block #widget {
  display: inline-block;
  text-align: left;
  margin: 0 15px 0 0;
}

.container .wrapper .content .right_block #reportBtn {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
}

.container .wrapper .content .right_block #reportBtn a {
  color: #999;
}

.container .wrapper .content .right_block .submit_btn {
  width: 240px;
  height: 40px;
  margin: 20px 0 0 0;
  position: relative;
}

.container .wrapper .content .right_block .submit_btn:after {
  content: "";
  position: absolute;
  top: 17px;
  right: 65px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.container .wrapper .content .right_block .submit_btn:hover:after {
  right: 60px;
}

.container .wrapper .content .right_block .submit_btn .bd div{
  background: #aaa;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.container .wrapper .content .right_block .submit_btn .bd div.bdT{width: 100%; height:1px; top:0; left:0;}
.container .wrapper .content .right_block .submit_btn .bd div.bdB{width: 100%; height:1px; bottom:0; right:0;}
.container .wrapper .content .right_block .submit_btn .bd div.bdR{height:100%; width :1px; right:0; top:0;}
.container .wrapper .content .right_block .submit_btn .bd div.bdL{height:100%; width :1px; left:0; bottom:0;}

.container .wrapper .content .right_block .submit_btn:hover .bd div.bdT{width: 0;}
.container .wrapper .content .right_block .submit_btn:hover .bd div.bdB{width: 0;}
.container .wrapper .content .right_block .submit_btn:hover .bd div.bdR{height:0;}
.container .wrapper .content .right_block .submit_btn:hover .bd div.bdL{height:0;}

.container .wrapper .content .right_block input[type=submit] {
  width: 240px;
  height: 40px;
  border: none;
  text-align: center;
  font-size: 12px;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.container .wrapper .content .right_block .submit_btn:hover > input[type=submit] {
  background-color: #eee;
}

/* tab */
@media screen and (max-width: 640px){
  .container .wrapper .content {
    width: auto;
    margin: 0 20px;
  }

  .container .wrapper .content .left_block,
  .container .wrapper .content .right_block {
    float: none;
    width: 100%;
    margin: 0 0 20px 0;
  }
}

/* ------------------------------------
◆　#products
------------------------------------ */
#products {
  width: 100%;
  margin-bottom: 80px;
}

#products ul.item_lists li.product_list {
  width: 155px;
  float: left;
  margin: 0 15px;
  position: relative;
}

/* tab */
@media screen and (max-width: 768px){
  #products ul.item_lists li.product_list {
  width: 11.1111111111%;
  }
}

/* wide */
@media screen and (min-width: 1600px){
  #products ul.item_lists li.product_list {
  /* width: 11.1111111111%; */
  }
}


#products ul.item_lists li.product_list a {
  /* opacity: 0; */
  display: block;
  width: 100%;
  /* height: 100%; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* overflow: hidden; */
  height: 80px;
  z-index: 100;
  text-align: center;
  /* border-radius: 10px; */
  /* background-repeat: repeat; */
  /* background-position: left top; */
}

#products ul.item_lists li.product_list .image_container a.thum {
  /* opacity: 0; */
  display: block;
  width: 100%;
  /* height: 100%; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  overflow: hidden;
  height: 100px;
  z-index: 100;
  text-align: center;
  border-radius: 10px;
  /* background-repeat: repeat; */
  /* background-position: left top; */
}


#products ul.item_lists li.product_list:hover > a {
  opacity: 1;
}

#products ul.item_lists li.product_list a .item_meta,
#products ul.item_lists li.product_list a .soldout_meta {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* width: 90%; */
  /* height: 120px; */
  font-size: 16px;
}

#products ul.item_lists li.product_list a h2 {
  max-height: 50px;
  /* overflow: hidden; */
  font-weight: bold;
  margin: 10px 0 5px 0;
  font-size: 12px;
  line-height: 1.5;
  height: 50px;
}
#products ul.item_lists li.product_list a .soldout_meta h2 {
  text-decoration: line-through;
}

#products ul.item_lists li.product_list a .soldout_meta .sold_txt {
  width: 100%;
  font-size: 12px;
  color: #FF4C4C;
  position: absolute;
  top: -30px;
  left: 0;
}

#products ul.item_lists li.product_list a .price {
  margin: 0 0 10px 0;
  font-style: italic;
}

#products ul.item_lists li.product_list a .detail {
  position: relative;
  width: 100px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
}

#products ul.item_lists li.product_list a .detail .bd div{
  background: #999;
  position: absolute;
  -webkit-transition: all 0.3s 0.1s;
  -moz-transition: all 0.3s 0.1s;
  transition: all 0.3s 0.1s;
}
#products ul.item_lists li.product_list a .detail .bd div.bdT{width: 0; height:1px; top:0; left:0;}
#products ul.item_lists li.product_list a .detail .bd div.bdB{width: 0; height:1px; bottom:0; right:0;}
#products ul.item_lists li.product_list a .detail .bd div.bdR{height:0; width :1px; right:0; top:0;}
#products ul.item_lists li.product_list a .detail .bd div.bdL{height:0; width :1px; left:0; bottom:0;}

#products ul.item_lists li.product_list:hover a .detail .bd div.bdT{width: 100%;}
#products ul.item_lists li.product_list:hover a .detail .bd div.bdB{width: 100%;}
#products ul.item_lists li.product_list:hover a .detail .bd div.bdR{height:100%;}
#products ul.item_lists li.product_list:hover a .detail .bd div.bdL{height:100%;}

#products ul.item_lists li.product_list .image_container {
  position: relative;
  width: 100%;
  height: 100%;
  /* padding: 100% 0 0; */
  /* overflow: hidden; */
  margin-bottom: 40px;
}

#products ul.item_lists li.product_list .image_container .img {
  position: relative;
  /* top: -25%; */
  /* overflow: hidden; */
  width: 100%;
  height: auto;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  /* border-radius: 10px; */
}
#products ul.item_lists li.product_list:hover > .image_container .img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

/* ------------------------------------
◆　#about
------------------------------------ */
#about {
  padding-bottom: 40px;
}

#about .txt_about.txt_center {
  text-align: center;
}

#about .txt_about.txt_left {
  width: 94%;
  margin: 0 auto;
}

/* ------------------------------------
◆　#news
------------------------------------ */
#news {
  width: 94%;
  margin: 0 auto 80px;
}
#news.txt_center {
  text-align: center;
}

#news li {
  margin: 0 0 25px 0;
}

#news.txt_left li .date {
  width: 15%;
  float: left;
}

.serif #news li .date {
  font-size: 15px;
}

#news.txt_center li .date {
  margin: 0 0 6px 0;
}

#news.txt_left li .txt {
  width: 85%;
  float: left;
}

#news li a {
  text-decoration: underline;
}

/* ------------------------------------
◆　#contact
------------------------------------ */
.txt_contact {
  display: none;
}

.inquirySection {
  padding-bottom: 40px;
}

.inquirySection h1 {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin: 0 0 50px 0;
}
.inquirySection h1:after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin: 0 0 0 -10px;
}

.inquirySection p {
  text-align: center;
  margin: 0 0 30px 0;
}

.inquirySection form {
  width: 96%;
  max-width: 640px;
  margin: 0 auto;
}

.inquirySection form dt {
  float: left;
  width: 158px;
  height: 42px;
  line-height: 42px;
  text-align: right;
  clear: both;
}
.inquirySection form dt span {
  color: #FF4C4C;
  font-size: 12px;
  margin: 0 0 0 2px;
}

.inquirySection form dd {
  width: 70%;
  max-width: 450px;
  float: right;
  margin: 0 0 20px 0;
}

.inquirySection form dd.error {
  margin: -15px 0 15px 0;
  color: #FF4C4C;
  font-size: 12px;
}

.inquirySection form dd input {
  width: 280px;
  height: 42px;
  border: 1px solid #fff;
  background-color: #eee;
  padding: 0 10px 0 10px;
  font-size: 14px;
}

.inquirySection form dd textarea {
  width: 95%;
  height: 180px;
  border: 1px solid #fff;
  background-color: #eee;
  padding: 10px;
  resize: none;
  font-size: 14px;
}

.inquirySection form .clear {
  clear: both;
}

.inquirySection form .control-panel {
  width: 240px;
  height: 40px;
  margin: 20px 0 0 192px;
  position: relative;
  clear: both;
}

.inquirySection form .control-panel:after {
  content: "";
  position: absolute;
  top: 17px;
  right: 65px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.inquirySection form .control-panel:hover:after {
  right: 60px;
}

.inquirySection form .control-panel .bd div{
  background: #aaa;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.inquirySection form .control-panel .bd div.bdT{width: 100%; height:1px; top:0; left:0;}
.inquirySection form .control-panel .bd div.bdB{width: 100%; height:1px; bottom:0; right:0;}
.inquirySection form .control-panel .bd div.bdR{height:100%; width :1px; right:0; top:0;}
.inquirySection form .control-panel .bd div.bdL{height:100%; width :1px; left:0; bottom:0;}

.inquirySection form .control-panel:hover .bd div.bdT{width: 0;}
.inquirySection form .control-panel:hover .bd div.bdB{width: 0;}
.inquirySection form .control-panel:hover .bd div.bdR{height:0;}
.inquirySection form .control-panel:hover .bd div.bdL{height:0;}

.inquirySection form input[type=submit] {
  width: 240px;
  height: 40px;
  border: none;
  text-align: center;
  font-size: 12px;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.inquirySection form .control-panel:hover > input[type=submit] {
  background-color: #eee;
}

/* confirm */
#inquiryConfirmSection dt,
#inquiryConfirmSection dd {
  font-size: 14px;
  line-height: 1.8em;
}

#inquiryConfirmSection dl:after {
  content: '';
  display: block;
  clear: both;
}

#inquiryConfirmSection dl {
  margin-bottom: 40px;
  zoom: 1;
}

#inquiryCompleteSection .btn_top {
  width: 240px;
  height: 40px;
  margin: 60px auto 0;
  position: relative;
}

#inquiryCompleteSection .btn_top:after {
  content: "";
  position: absolute;
  top: 17px;
  right: 45px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#inquiryCompleteSection .btn_top:hover:after {
  right: 40px;
}

#inquiryCompleteSection .btn_top .bd div{
  background: #aaa;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#inquiryCompleteSection .btn_top .bd div.bdT{width: 100%; height:1px; top:0; left:0;}
#inquiryCompleteSection .btn_top .bd div.bdB{width: 100%; height:1px; bottom:0; right:0;}
#inquiryCompleteSection .btn_top .bd div.bdR{height:100%; width :1px; right:0; top:0;}
#inquiryCompleteSection .btn_top .bd div.bdL{height:100%; width :1px; left:0; bottom:0;}

#inquiryCompleteSection .btn_top:hover .bd div.bdT{width: 0;}
#inquiryCompleteSection .btn_top:hover .bd div.bdB{width: 0;}
#inquiryCompleteSection .btn_top:hover .bd div.bdR{height:0;}
#inquiryCompleteSection .btn_top:hover .bd div.bdL{height:0;}

#inquiryCompleteSection .btn_top a {
  display: block;
  width: 240px;
  height: 40px;
  line-height: 40px;
  border: none;
  text-align: center;
  font-size: 12px;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#inquiryCompleteSection .btn_top:hover > a {
  background-color: #eee;
}

/* ------------------------------------
◆　blog
------------------------------------ */
.txt_blog {
  display: none;
}

#blog_block .main {
  margin: 0 20px 0 20px;
}

#blog_block .blog_inner {
  margin: 0 0 20px 0;
  padding-top: 20px!important;
  padding-bottom: 50px!important;
}
#blog_block .blogDetail .blog_inner {
  margin: 0;
  padding-bottom: 0!important;
  border: none!important;
}

#blog_block .blog_title {
  font-size: 16px;
}

#blog_block .blog_publish .publish_date {
  font-size: 13px!important;
}

#blog_block .blog_publish {
  margin: 10px 0 30px 0!important;
}

#blog_block .blog_head_image {
  margin: 0 0 20px 0;
}

#blog_block .blogListMain .blog_inner .blog_contents {
  height: auto!important;
  max-height: 100px;
  margin: 0 0 30px 0;
}

#blog_block .read_more {
  font-size: 12px;
  bottom: 20px!important;
}

#blog_block .read_more a {
  position: relative;
}

#blog_block .read_more a:after {
  content: "";
  position: absolute;
  top: 4px;
  right: -10px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#blog_block .read_more a:hover:after {
  right: -15px;
}


#blog_block .blog_body h3 {
  font-size: 16px;
  position: relative;
  margin: 0 0 30px 0;
}
#blog_block .blog_body h3:after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  bottom: -10px;
  left: 0;
}

#blog_block .blog_body a:hover {
  filter: alpha(opacity=60);
  opacity: 0.6;
  -webkit-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

#blog_block .social li {
  margin-right: 20px!important;
}

#blog_block .social img {
  opacity: 0.7;
  width: auto;
  height: 24px;
}

#blog_block .social img:hover {
  filter: alpha(opacity=40);
  opacity: 0.4;
  -webkit-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

#blog_block .blog_body img {
  max-width: 100%;
  height: auto;
}


/* ------------------------------------
◆　docs
------------------------------------ */
#privacy,
#law {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#privacy h2,
#law h2 {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin: 0 0 50px 0;
}
#privacy h2:after,
#law h2:after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin: 0 0 0 -10px;
}

#privacy h3 {
  margin: 0 20px 5px 20px;
}
#law h3 {
  margin: 30px 20px 5px 20px;
}

#privacy p {
  margin: 0 20px 30px 20px;
}
#law p {
  margin: 0 20px 0 20px;
}

#privacy dl,
#law dl {
  margin: 0 20px 30px 20px;
}

#privacy dt,
#law dt {
  font-weight: bold;
  margin: 0 0 5px 0;
}

#privacy dd,
#law dd {
  margin: 0 0 30px 0;
}

/* ------------------------------------
◆　#mainFooter
------------------------------------ */
#mainFooter {
  width: 100%;
//  margin-top: 80px;
//  padding: 40px 0 0 0;
  padding-top: 80px;
  clear: both;
  background-color: #fff;
  position: relative;
}

#mainFooter:after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
//  top: 0;
  top: 40px;
  left: 50%;
  margin: 0 0 0 -10px;
}

#mainFooter .social,
#mainFooter .footer_menu {
  padding: 0 0 30px 0;
  font-size: 12px;
}

#mainFooter .social ul,
#mainFooter .footer_menu ul {
  position: relative;
  left: 50%;
  float: left;
}

#mainFooter .social ul li,
#mainFooter .footer_menu ul li {
  position: relative;
  left: -50%;
  float: left;
  margin: 0 10px 0 10px;
}

#mainFooter .social ul li.tw {
  position: relative;
  top: 2px;
}

#mainFooter .lang_btn {
  position: absolute;
  top: 37px;
  right: 20px;
}

#mainFooter .copy {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin: 0 0 20px 0;
}

/* ------------------------------------
◆　#i18 (lang)
------------------------------------ */
#i18 {
  position: relative;
}

#i18 .lang {
  float: left;
  margin: 0 5px 0 0;
  position: relative;
}
#i18 .lang:before {
  background: url('https://basefile.s3.amazonaws.com/chikoku/56236bbf7c3f3/arrow.gif') no-repeat;
  background-size: 10px 7px;
  content: "";
  height: 7px;
  position: absolute;
  right: 13px;
  top: 12px;
  width: 10px;
}

#i18 .currency {
  float: left;  
  position: relative;
}

#i18 .currency:before {
  background: url('https://basefile.s3.amazonaws.com/chikoku/56236bbf7c3f3/arrow.gif') no-repeat;
  background-size: 10px 7px;
  content: "";
  height: 7px;
  position: absolute;
  right: 13px;
  top: 12px;
  width: 10px;
}

#i18 select {
  appearance: inherit;
  -webkit-appearance: inherit;
  border: 1px solid #CCC;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 11px;
  line-height: 18px;
  min-width: inherit;
  padding: 5px 25px 5px 10px;
  vertical-align: middle;
}

/* ------------------------------------
◆　#widget
------------------------------------ */
#widgetSection {
  display: none;
  padding: 0!important;
}

#widgetEmbedDetail {
  width: 930px!important;
}

#widgetSection .hide {
  display: none!important;
}

#widgetSection #widgetLoading img {
  display: inline;
}

/* ------------------------------------
◆　.label_image
------------------------------------ */
.label_image {
  position: absolute;
  top: -8px;
  left: -8px;
  z-index: 100;
  width: 70px;
  height: auto;
}